body {
    background-color: wheat; /* Set background color */
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    text-align: center; /* Center-align the content */
    padding-top: 50px; /* Add some space from the top */
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Add space below the logo */
}

.logo {
    width: 200px; /* Set the width of the logo */
}

.page-heading {
    margin-bottom: 50px; /* Add space below the heading */
}

.main {
    background-color: blanchedalmond; /* Set background color for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.box {
    width: calc(100% - 20px); /* Adjust width to make it smaller */
    max-width: 300px; /* Set maximum width */
    padding: 10px;
    margin: 0 auto; /* Center the box horizontally */
    margin-bottom: 15px;
    border: 1px solid bisque; /* Set border color */
    border-radius: 5px;
    box-sizing: border-box;
}

#submit {
    background-color: #007bff; /* Set background color for the submit button */
    color: rosybrown;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #0056b3; /* Darken the background color on hover */
}

/* Optional: Adjustments for responsiveness */
@media (max-width: 768px) {
    .col-md-3 {
        display: none;
    }
}
